
body {
    margin:0;
    font-family: Bookman Old Style;
}
.bg-img {
    /* The image used */
    background-image: url("intro.jpg");
  
    min-height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin-top: 15px;
    margin-left:5%;
    width: auto;
  }
  
.topnav {
    overflow: hidden;
    background-color:lightgoldenrodyellow;

}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: medium;

}
.topnav a:hover {
    color: red;

}
.topnav a.active {
    color:blue;
    
}
.centered {
  position: absolute;
  top: 25%;
  left: 25%;
  
  font-size: 100px;
  font-style: oblique;
  color:lightgoldenrodyellow;
}
.pp{
  text-decoration:normal;
  text-align: center;
  text-decoration-color: crimson;
  -moz-text-decoration-color: crimson;
  font-style: italic;
  font-size: medium;
  font-family: Bookman Old Style;
  
}
.footer {
  text-align: center;
  padding: 3px;
  font-size: 15px;
  background-color:lightgoldenrodyellow;
  color: orangered;
}